.newsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 2rem;
}

.loaderContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}